# Copier en .env.local et adapter
APP_ENV=prod
APP_SECRET=           # openssl rand -hex 32
DATABASE_URL="postgresql://runner:VOTRE_MDP@db:5432/runtracker?serverVersion=16&charset=utf8"
JWT_PASSPHRASE=       # openssl rand -hex 16
JWT_TTL=604800        # 7 jours en secondes
MAPBOX_TOKEN=pk.your_mapbox_token_here
