# Copier en .env.local et adapter
APP_ENV=prod
APP_SECRET=4e4c08f8a01879a3337cfc01f90e0fc31877083e8cf783ead94d6c41d937dac1           # openssl rand -hex 32
DATABASE_HOST=
DATABASE_USER=
DATABASE_NAME=
DATABASE_PORT=
DATABASE_PASSWORD=
DATABASE_VERSION=
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?serverVersion=${DATABASE_VERSION}&charset=utf8"
DEFAULT_URI=http://localhost
JWT_PASSPHRASE=8667af9735fde96106393fd477226ba9       # openssl rand -hex 16
JWT_TTL=604800        # 7 jours en secondes
